<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branding.can-add-account</key>
	<false/>
	<key>branding.can-edit-account</key>
	<true/>
	<key>branding.enable-review-prompt</key>
	<false/>
	<key>branding.organization-name</key>
	<string>ownCloud Online</string>
	<key>branding.profile-bookmark-name</key>
	<string>ownCloud Online</string>
	<key>branding.profile-url</key>
	<string>https://owncloud.online</string>
	<key>branding.profile-allow-url-configuration</key>
	<true/>
	<key>branding.profile-help-url</key>
	<string>https://owncloud.online/try/</string>
	<key>branding.profile-help-button-label</key>
	<string>TRY IT FOR FREE</string>
	<key>branding.profile-open-help-message</key>
	<string>If you do not have an ownCloud Online account yet, you can request a free test account.</string>
	<key>branding.send-feedback-address</key>
	<string></string>
	<key>branding.theme-colors</key>
	<dict>
		<key>tint-color</key>
		<string>#00866F</string>
		<key>branding-background-color</key>
		<string>#547A9E</string>
		<key>setup-status-bar-style</key>
		<string>white</string>
		<key>folder-icon-color</key>
		<string>#00E4BD</string>
		<key>file-icon-color</key>
		<string>#00E4BD</string>
	</dict>
	<key>branding.theme-css-records</key>
	<array>
		<string>cancel.fill: #00E4BD</string>
		<string>cancel.stroke: #262B45</string>
		<string>proceed.fill: #00E4BD</string>
		<string>proceed.stroke: #262B45</string>
		<string>info.fill: #00E4BD</string>
		<string>info.stroke: #262B45</string>
		<string>accountSetup.step.button.filled.fill: #00E4BD</string>
		<string>accountSetup.step.button.filled.stroke: #262B45</string>
		<string>icon-folder.fill: #00E4BD</string>
	</array>
	<key>branding.url-documentation</key>
	<string>https://owncloud.online/faq/</string>
	<key>branding.url-help</key>
	<string>https://owncloud.online/faq/</string>
	<key>branding.url-privacy</key>
	<string>https://owncloud.online/privacy-policy/</string>
	<key>branding.url-terms-of-use</key>
	<string>https://owncloud.online/terms/</string>
	<key>build.custom-app-scheme</key>
	<string>owncloud-online</string>
	<key>build.custom-auth-scheme</key>
	<string>oco</string>
	<key>connection.allowed-authentication-methods</key>
	<array>
		<string>com.owncloud.basicauth</string>
	</array>
</dict>
</plist>
